.Dashboard {
  display: flex;
  font-family:  'Heebo', sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #FFFFFF;
  color: #666565;
  padding: 20px;
  min-height: 100vh;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar li.active {
  background-color: #00027B;
  color: #FFFFFF;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
