.login-main-parent {
  background-color: #f0f3f7;
  width: 100%;
  height: 100vh;
  padding: 20px;
}
.login-main-section {
  background-color: white;
  width: 520px;
  /* padding: 20px; */
  text-align: center;
  border-radius: 10px;
  margin: 60px auto 0;
  border-bottom: 3px solid #166b3a;
}

.login-main-heading {
  background-color: #166b3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(29, 28, 28);
}

@media screen and (max-width: 800px) {
  .login-main-section {
    width: 400px;
  }
}
@media screen and (max-width: 568px) {
  .login-main-section {
    width: 350px;
  }
}
@media screen and (max-width: 468px) {
  .login-main-section {
    width: 90%;
  }
}
/* .row {
  margin-top: 30px;
  color: white;
}
.first {
  background-color: rgb(19, 182, 141);
}
.icon-class {
  color: white;
  size: 100px;
} */
