.error-page-main-parent {
  background-color: #f1f2f7;
  padding: 25px 15px 20px;
  min-height: 91vh;
}
.error-page-main {
  background-color: #fffefe;
  min-height: 82vh;
  padding: 15px 20px;
  border-radius: 7px;
}
.error-page-message{
    color: red;
    font-size: 18px;
    text-align: center;
    margin-top: 10%;
    
}