.provider-manage-application-main-parent{
    background-color: #f1f2f7;
    padding: 15px 15px 20px;

}
.manage-application-main{
    background-color: #fffefe;
    padding: 15px 20px;
    border-radius: 7px;
}

/* Form Starts */
.application-manage-resume-main{
    display: flex;
}
.resume-upload-main{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.resume-upload{
    color: #0288d1;
    margin-top: 20px;
}
.resume-upload-text{
    margin-left:10px;
}
/* Form Ends */

/* Rejection Alert Starts */
.rejection-alert-main{
    color: red;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
}
.selection-alert-main{
    color: green;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;

}
/* Rejection Alert Ends */